.root {
    -fx-background-image: url("../Ressources/othe_back.jpg");
}
.button {
    -fx-text-fill: #cccc00;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover{
    -fx-cursor: hand;
    -fx-text-fill: #1ce213;
    -fx-font-family: "Ubuntu Light";
}
.label{
    -fx-text-fill: #2396d0;
}